<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Include Spring Boot's base configuration -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Use Spring properties -->
    <springProperty scope="context" name="LOG_FILE" source="logging.file.name" defaultValue="logs/user-service.log"/>
    <springProperty scope="context" name="KAFKA_TOPIC" source="logging.kafka.topic" defaultValue="user-service-logs"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="user-service"/>

    <!-- Standard Text Pattern for logs -->
    <property name="LOG_PATTERN_TEXT" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%ex{full}"/>

    <!-- Appender : Custom Kafka Appender if, want to send logs as a text -->
<!--    <appender name="KAFKA" class="UserService.logging.CustomKafkaLogbackAppender">-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <pattern>${LOG_PATTERN_TEXT}</pattern>-->
<!--            <charset>UTF-8</charset>-->
<!--        </encoder>-->
<!--    </appender>-->
    <!-- Appender : Custom Kafka Appender if, want to send logs as a json -->

    <appender name="KAFKA" class="UserService.logging.CustomKafkaLogbackAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"${APP_NAME}"}</customFields>
        </encoder>
    </appender>


    <!-- Root Logger: Sends logs to both File and Kafka -->
    <root level="INFO"> <!-- Set the root level -->
        <appender-ref ref="FILE"/>
        <appender-ref ref="KAFKA"/>
         <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Example: Set specific level for your application's packages -->
    <logger name="com.example.userService" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="KAFKA"/>
         <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Suppress noisy loggers if needed -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.apache.kafka" level="WARN"/> <!-- Quieten Kafka client logs if too verbose -->

</configuration>